@use 'abstracts' as *;

.hero {

    margin-top: 3rem;
    
    & .left > *:not(:first-child) {
        margin-top: 1.5rem;
    }
    
    & .right {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    
    @include for-mobile-only {
        
        & .left {
            order: 1;
        }

        & .partners {
            order: 1;
        }
        
        & .container {
            display: flex;
            flex-direction: column;
        }
    }

    @include for-desktop-only {
        & .container {
            display: grid;
            grid-template-columns: 2fr 1fr;
            gap: min(3vw, 3rem);
        }
        & .left {
            margin-block: auto;
        }
    }

}

.hero__header {
    font-size: 3rem;
    font-weight: 700;
}

.hero__content {
    opacity: 0.7;
    font-size: 0.9rem;
    max-width: 60ch;
}

.hero__cta {
    display: flex;
    justify-content: center;
    gap: clamp(1rem, 2vw, 2rem);
    flex-wrap: wrap;
    
    @include for-desktop-only {
        justify-content: flex-start;
    }
}

.hero-illustration {
    padding: 20% 40px 0 0 ;

    
    & .hero-illustration__image {
        display: inline-block;
        aspect-ratio: 1;

        opacity: 0;
        animation: HeroSlideIn 2s ease forwards 0.4s;
    }
}

@keyframes HeroSlideIn {
    0% {
        opacity: 0;
        transform: translateY( -10%);
    }
    15% {
        opacity: 1;
        box-shadow: 0 0 0 0 $clr-neutral-white, 0 0  $clr-primary;
    }
    50% {
        transform: translateY(0%);
        box-shadow: 0 0 0px 0px $clr-neutral-white, 40px -40px  $clr-primary;
    }
    100% {
        opacity: 1;
        box-shadow: 0 0 10px 0px $clr-neutral-white, 40px -40px  $clr-primary;
    }
}

.partners {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin-top: 1.5rem;
    gap: 1rem;
    

    & li {
        max-width: 300px;
        opacity: 0;
    }

    @include for-mobile-only {
        & > * {
            align-self: flex-start;
            
            &:nth-child(2n) {
                align-self: flex-end;
            }
        }
    }

    @include for-desktop-only {
        flex-direction: row;
        grid-column-start: 1;
        grid-column-end: 3;

        & li {
            max-width: 150px;
        }
    }
}

@keyframes PartnerSlideIn {
    0% {
        transform: translateY(-10px);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }

}

@for $i from 1 through 5 {
    .partner-#{$i} {
        animation: PartnerSlideIn 1s forwards #{1s + $i*.1s};
    }   
}




